// element-variable.scss
:root {
  --tc: rgb(85, 199, 145);
  --tcRGB: 85, 199, 145;
  --tcl: rgba(85, 199, 145, 0.6);
  --bc: #ccc;
  --fc: #333;
}

:root body[theme-style="light"] #app {
  --active-color: #4bc7a9; // 激活色
  --active-color-lighter: rgba(75, 199, 169, 0.6); // 激活透明色
  --active-bg-color: var(--active-color); // 背景激活色
  --active-font-color: var(--active-color); // 字体激活色
  --active-font-color-nc: #fff; // 字体非背景冲突色

  --bg1: #f7f7f7; // 一级背景色（布局）
  --bg2: #fff; // 二级背景色（卡片）
  --bg3: #f7f7f7; // 三级背景色（区域）
  --bg4: #5d5d5d; // 四级背景色（按钮）

  --fc1: #333; // 一级字体色
  --fc2: #666; // 二级字体色
  --fc3: #999; // 三级字体色

  // --first-border-color: #1a1a1a; // 一级边框色
  // --second-border-color: #333; // 二级边框色
  // --third-border-color: #404040; // 三级边框色
  --bc1: #efefef; // 一级边框色

  --form-lable-color: var(--second-font-color); // 表单lable的字体颜色
  --form-content-color: var(--first-font-color); // 表单content的字体颜色
  --form-bg-color: var(--first-bg-color); // 表单组件的背景颜色

  --primary-button-bg-color: var(--active-color); // 按钮亮色
  --normal-button-bg-color: var(--fourth-bg-color); // 按钮暗色
  --button-font-color: var(--first-font-color); // 按钮字体色
}

:root body[theme-style="dark"] #app {
  --active-color: #4bc7a9; // 激活色
  --active-color-lighter: rgba(75, 199, 169, 0.6); // 激活透明色
  --active-bg-color: var(--active-color); // 背景激活色
  --active-font-color: var(--active-color); // 字体激活色
  --active-font-color-nc: #000; // 字体非背景冲突色

  --first-bg-color: #1a1a1a; // 一级背景色（布局）
  --second-bg-color: #333; // 二级背景色（卡片）
  --third-bg-color: #404040; // 三级背景色（区域）
  --fourth-bg-color: #5d5d5d; // 四级背景色（按钮）

  --first-font-color: #fff; // 一级字体色
  --second-font-color: rgba(255, 255, 255, 0.8); // 二级字体色
  --third-font-color: rgba(255, 255, 255, 0.6); // 三级字体色
  --operate-font-color: #518afe; // 操作字体色

  --first-border-color: #5d5d5d; // 一级边框色
  // --second-border-color: #333; // 二级边框色
  // --third-border-color: #404040; // 三级边框色
  // --fourth-border-color: #5d5d5d; // 四级边框色

  --form-lable-color: var(--second-font-color); // 表单lable的字体颜色
  --form-content-color: var(--first-font-color); // 表单content的字体颜色
  --form-bg-color: var(--first-bg-color); // 表单组件的背景颜色

  --primary-button-bg-color: var(--active-color); // 按钮亮色
  --normal-button-bg-color: var(--fourth-bg-color); // 按钮暗色
  --button-font-color: var(--first-font-color); // 按钮字体色
}

:root body[leftNavStatus="expand"] #app {
  --left-nav-width: 200px;
}
:root body[leftNavStatus="collapse"] #app {
  --left-nav-width: 60px;
}
:root body[leftNavStatus="hide"] #app {
  --left-nav-width: 0;
}

$--color-primary: #55c791;
$--color-success: #13ce66;
$--color-warning: #ffba00;
$--color-danger: #ff4949;
$--color-info: #1e1e1e;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border: 1px solid #dfe6ec;

$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// :export {
//   theme: $--color-primary;
// }

// 二、变量样式
@for $i from 0 through 100 {
  .w-#{$i} {
    width: calc(#{$i} * 1%);
  }
}
@for $i from 0 through 100 {
  .mt-#{$i} {
    margin-top: calc(#{$i} * 1px);
  }
}
@for $i from 0 through 100 {
  .mr-#{$i} {
    margin-right: calc(#{$i} * 1px);
  }
}
@for $i from 0 through 100 {
  .mb-#{$i} {
    margin-bottom: calc(#{$i} * 1px);
  }
}
@for $i from 0 through 100 {
  .ml-#{$i} {
    margin-left: calc(#{$i} * 1px);
  }
}
@for $i from 0 through 100 {
  .pt-#{$i} {
    padding-top: calc(#{$i} * 1px);
  }
}
@for $i from 0 through 100 {
  .pr-#{$i} {
    padding-right: calc(#{$i} * 1px);
  }
}
@for $i from 0 through 100 {
  .pb-#{$i} {
    padding-bottom: calc(#{$i} * 1px);
  }
}
@for $i from 0 through 100 {
  .pl-#{$i} {
    padding-left: calc(#{$i} * 1px);
  }
}

@for $i from 0 through 100 {
  .ty-#{$i} {
    transform: translateY(calc(#{$i} * 1px));
  }
}
@for $i from 0 through 100 {
  .tyf-#{$i} {
    transform: translateY(calc(#{$i}* (-1) * 1px));
  }
}
// @for $i from 0 through 100 {
//   @for $j from 0 through 100 {
//     @if $j != 0 {
//       $width:calc($i / $j) * 100%;
//       .cw-#{$i}\/#{$j} {
//         width: $width;
//       }
//     }
//   }
// }

:export {
  tc: --tc;
  leftNavWidth: --leftNavWidth;
}
